Lab Task 1

Create NumPy array, split into 3 arrays then calculate sum of all arrays numbers.

In [1]:
import numpy as np

# Create NumPy array
arr = np.array([3, 6, 9, 12, 15, 18, 21, 24, 27])

# Split into 3 arrays
a1, a2, a3 = np.array_split(arr, 3)

print("Array 1:", a1)
print("Array 2:", a2)
print("Array 3:", a3)

# Calculate sum of all arrays
total_sum = np.sum(a1) + np.sum(a2) + np.sum(a3)

print("Total Sum:", total_sum)

Array 1: [3 6 9]
Array 2: [12 15 18]
Array 3: [21 24 27]
Total Sum: 135

Lab Task 2

Create a NumPy array to extract all numbers greater than 5 and less than 15.

In [2]:
import numpy as np

arr = np.array([2, 4, 6, 8, 10, 12, 14, 16, 18])

filtered = arr[(arr > 5) & (arr < 15)]

print("Numbers greater than 5 and less than 15:", filtered)

Numbers greater than 5 and less than 15: [ 6  8 10 12 14]

Lab Task 3

Create two sets

In [3]:
# Set1 using curly braces (Even numbers 0-10)
set1 = {0, 2, 4, 6, 8, 10}

# Set2 using constructor (Positive integers 1-10)
set2 = set([1,2,3,4,5,6,7,8,9,10])

print("Set1:", set1)
print("Set2:", set2)

Set1: {0, 2, 4, 6, 8, 10}
Set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Remove second and fifth element of set2

In [4]:
temp_list = list(set2)

# Remove 2nd and 5th element (index 1 and 4)
temp_list.pop(1)
temp_list.pop(3)   # because after first pop indexing changes

set2 = set(temp_list)

print("Updated Set2:", set2)

Updated Set2: {1, 3, 4, 6, 7, 8, 9, 10}

Intersection

In [ ]:
set3 = set1.intersection(set2)

print("Intersection (set3):", set3)

Lab Task 4

Create Dictionary â€œstudentsâ€

In [5]:
students = {
    53102: {"sapid": 53102, "name": "Muqeet Ahmed", "age": 21, "Semester": "Six"},
    53103: {"sapid": 53103, "name": "Ali Khan", "age": 22, "Semester": "Six"},
    53104: {"sapid": 53104, "name": "Ahmed Raza", "age": 21, "Semester": "Six"},
    53105: {"sapid": 53105, "name": "Usman Tariq", "age": 23, "Semester": "Six"},
    53106: {"sapid": 53106, "name": "Hassan Ali", "age": 22, "Semester": "Six"}
}

print("Original Dictionary:")
print(students)

Original Dictionary:
{53102: {'sapid': 53102, 'name': 'Muqeet Ahmed', 'age': 21, 'Semester': 'Six'}, 53103: {'sapid': 53103, 'name': 'Ali Khan', 'age': 22, 'Semester': 'Six'}, 53104: {'sapid': 53104, 'name': 'Ahmed Raza', 'age': 21, 'Semester': 'Six'}, 53105: {'sapid': 53105, 'name': 'Usman Tariq', 'age': 23, 'Semester': 'Six'}, 53106: {'sapid': 53106, 'name': 'Hassan Ali', 'age': 22, 'Semester': 'Six'}}

Update Semester Six â†’ Seven

In [6]:
for key in students:
    students[key]["Semester"] = "Seven"

print("Updated Dictionary:")
print(students)

Updated Dictionary:
{53102: {'sapid': 53102, 'name': 'Muqeet Ahmed', 'age': 21, 'Semester': 'Seven'}, 53103: {'sapid': 53103, 'name': 'Ali Khan', 'age': 22, 'Semester': 'Seven'}, 53104: {'sapid': 53104, 'name': 'Ahmed Raza', 'age': 21, 'Semester': 'Seven'}, 53105: {'sapid': 53105, 'name': 'Usman Tariq', 'age': 23, 'Semester': 'Seven'}, 53106: {'sapid': 53106, 'name': 'Hassan Ali', 'age': 22, 'Semester': 'Seven'}}