In [1]:
fruit_list = ["Apple", "Mango", "Banana"]
print(fruit_list)

['Apple', 'Mango', 'Banana']

In [2]:

fruit_list = ["Apple", "Mango", "Banana", "Apple"]
print(fruit_list)

['Apple', 'Mango', 'Banana', 'Apple']

In [3]:

fruit_list = ["Apple", "Mango", "Banana", "Apple"]
print(len(fruit_list))

4

In [4]:

fruit_list = ["Apple", "Mango", "Banana", "Apple"]
print("Fruite list type is ", type(fruit_list))

number_list = [21, 22, 23, 24]
print("Number list type is ", type(number_list))

Fruite list type is  <class 'list'>
Number list type is  <class 'list'>

In [5]:

grousery_list = list()
print(grousery_list)

grousery_list = list(("Sugar", "Floor", "Cooking Oil"))
print(grousery_list)

print("Grousery list type is ", type(grousery_list))

[]
['Sugar', 'Floor', 'Cooking Oil']
Grousery list type is  <class 'list'>

We are implmenting List

Create an initial list

In [6]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

1. append() Adds an element at the end of the list

In [7]:
my_list.append(6)
print("After append:", my_list)

After append: [1, 2, 3, 4, 5, 6]

 2.Clear() Removes all the elements from the list

In [8]:
my_list.clear()
print("After clear:", my_list)

After clear: []

Reinitialize the list

In [9]:
my_list = [1, 2, 3, 4, 5]


3. copy() Returns a copy of the list

In [10]:
copied_list = my_list.copy()
print("Copied list:", copied_list)

Copied list: [1, 2, 3, 4, 5]

 4. Count()  Returns the number of occurrences of the specified value

In [11]:
count_3 = my_list.count(3)
print("Count of 3:", count_3)

Count of 3: 1

5. extend()  Adds the elements of another list to the end of the current list

In [12]:
my_list.extend([6, 7])
print("After extend:", my_list)

After extend: [1, 2, 3, 4, 5, 6, 7]

6. index()  Returns the index of the first occurrence of the specified value

In [13]:
index_of_4 = my_list.index(4)
print("Index of 4:", index_of_4)

Index of 4: 3

7. insert() Adds an element at the specified position

In [14]:
my_list.insert(2, 10)  # Insert 10 at index 2
print("After insert:", my_list)

After insert: [1, 2, 10, 3, 4, 5, 6, 7]

8. pop() Removes the element at the specified position (last if no index specified)

In [15]:
popped_item = my_list.pop()
print("Popped item:", popped_item)
print("After pop:", my_list)

Popped item: 7
After pop: [1, 2, 10, 3, 4, 5, 6]

9. remove() Removes the first occurrence of the specified value

In [16]:
my_list.remove(10)
print("After remove:", my_list)

After remove: [1, 2, 3, 4, 5, 6]

10. Reverse()  Reverses the order of the list

In [17]:
my_list.reverse()
print("After reverse:", my_list)

After reverse: [6, 5, 4, 3, 2, 1]

11. sort()  Sorts the list

In [18]:
my_list.sort()
print("After sort:", my_list)

After sort: [1, 2, 3, 4, 5, 6]